.body{
    position: fixed;
    top: 0;
	left: 0;
    width: 100%;
	height: 100%;
    height: 100%;
    background: linear-gradient(to top,#633926,#0d162b);
    overflow-y: scroll;
    overflow-x: scroll;
}


.promotion__timer .timer{
    margin-top:250px;
    padding-left:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-left: auto;
    margin-right: auto;
    width:50%;
}
.timer_text {
    text-align:center;
    font-size:25px;
    color: #fff;
    margin: 20px;
}
.promotion__timer .timer__block{
    width:102px;
    height:120px;
    font-size:50px;
    font-weight:300;
    text-align:center;
    color:#942637;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
<<<<<<< HEAD
    margin: 10px auto;
=======
    margin: 10px;
>>>>>>> 6b1bc1f157800bf93f4e10892ed79cf043f07988
}
.promotion__timer .timer__block span{
    display:block;
    margin-top:20px;
    margin-bottom:5px;
    font-size:100px;
    font-weight:200
}

.box {
    width: 125px;
	height: 150px;
	/* background: red; */
}

.btn{width:220px;
    height:65px;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:#fff;
    font-size:18px;
    font-weight:700;
    border:1px solid rgba(0,0,0,.2);
    box-shadow:0 4px 15px rgba(0,0,0,.2);
    cursor:pointer;
    transition:.3s all;outline:0}

.btn_white{background-color:#fff}

.modal{
    position:fixed;
    top:0;
    left:0;
    z-index:1050;
    display:none;
    width:100%;
    height:100%;
    overflow:hidden;
    background-color:rgba(0,0,0,.5)
}
.modal__dialog{
    max-width:500px;
    margin:40px auto
}
.modal__content{
    position:relative;
    width:100%;
    padding:40px;
    background-color:#fff;
    border:1px solid rgba(0,0,0,.2);
    border-radius:4px;
    max-height:80vh;
    overflow-y:auto
}
.modal__close{
    position:absolute;
    top:8px;
    right:14px;
    font-size:30px;
    color:#000;
    opacity:.5;
    font-weight:700;
    border:none;
    background-color:transparent;
    cursor:pointer
}
.modal__title{
    text-align:center;
    font-size:22px;
    text-transform:uppercase}
.modal__input{
    display:block;
    margin:20px auto 20px auto;
    width:280px;
    height:50px;
    background:#fff;
    box-shadow:0 4px 15px rgba(0,0,0,.2);
    border:none;
    font-size:18px;
    text-align:center;
    padding:0 20px;outline:0
}
.modal .btn{
    display:block;
    width:280px;
    margin:0 auto
}
.show{
    display:block
}
.hide{
    display:none
}